/* 1025 */
@media(max-width: 1025px) {
    .header .navbar .container .left .logo-media{
        display: none;
    }
}

/* 770 */
@media(max-width:770px) {

    .side .container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .side .container .site-title {
        max-width: 400px;
        font-size: 35px;
    }

    .side .container .list {
        justify-content: flex-start;
        gap: 50px;
    }

}



/* 650 */
@media(max-width:650px) {

    .header .container .right,
    .header .container .left .menu .link {
        display: none;
    }


    .header .container .burger {
        display: block;

    }

    .find .container .start .card:last-child {
        display: none;
    }
}

/* 520 */
@media(max-width:520px) {
    .header .navbar .container .left .logo{
        display: none;
    }
    .header .navbar .container .left .logo-media{
        display: block;
    }
    .header .hero .container .site-title, 
    .header .hero .container .subtitle, 
    .header .hero .container h1, 
    .header .hero .container a i {
        color: white;
        text-align: center;
        border-color: white;
    }

    .header::after {
        width: 100%;
        height: 100%;
        background: url(img/hero-bg-media.png) no-repeat center / cover;
    }
}

@media(max-width: 425px) {}