/* 770 */
@media(max-width:770px) {

    .side .container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .side .container .site-title {
        max-width: 400px;
        font-size: 35px;
    }

    .side .container .list {
        justify-content: flex-start;
        gap: 50px;
    }
}



/* 650 */
@media(max-width:650px) {

    .header .container .right,
    .header .container .left .menu .link {
        display: none;
    }


    .header .container .burger {
        display: block;

    }
}

/* 520 */
@media(max-width:520px) {
    .header::after {
        height: 100%;
        background: url(img/hero-bg-media.png) no-repeat center / cover;
    }
}