@font-face {
    src: url(fonts/Merriweather-Light.ttf);
    font-family: 'merri-300', sans-serif;
}

@font-face {
    src: url(fonts/Merriweather-Bold.ttf);
    font-family: 'merri-700', sans-serif;
}

@font-face {
    src: url(fonts/Varta-Light.ttf);
    font-family: 'varta-300', sans-serif;
}

@font-face {
    src: url(fonts/Varta-Regular.ttf);
    font-family: 'varta-400', sans-serif;
}

@font-face {
    src: url(fonts/Varta-Medium.ttf);
    font-family: 'varta-500', sans-serif;
}

@font-face {
    src: url(fonts/Varta-SemiBold.ttf);
    font-family: 'varta-600', sans-serif;
}

@font-face {
    src: url(fonts/Varta-Bold.ttf);
    font-family: 'varta-700', sans-serif;
}

:root {
    --terracota: #A06056;
    --brown-light: #706458;
    --white: #ffffff;
    --black: #121212;
    --background: #F3EEE8;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    border: 0;
    background: 0;
    outline: 0;
    cursor: pointer;
}

/* general */
body {
    font-weight: 400;
    font-family: 'varta-400', sans-serif;
    background: var(--background);
    color: var(--brown-light);
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.site-title {
    font-size: 55px;
    font-weight: 300;
    font-family: 'merri-300', sans-serif;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: 'varta-400', sans-serif;
}

/* header */
.header {
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background: url(img/hero-bg.jpg) no-repeat right / cover;
    width: 50%;
    height: 100vh;
}

.header .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 15px;
}

.header .navbar .container .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.header .navbar .container .left .logo-media{
    display: none;
}

.header .navbar .container .left .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.header .navbar .container .left .menu .link {
    font-size: 18px;
    font-weight: 400;
    font-family: 'varta-400', sans-serif;
    color: var(--brown-light);
}

.header .navbar .container .left .menu .link:hover {
    text-decoration: underline;
}


.header .container .right a {
    width: 50px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container .right a i {
    font-size: 26px;
}

.header .container .burger {
    display: none;
}

.header .container .burger i {
    font-size: 25px;
    color: var(--white);
}

.header .hero .container h1 {
    color: var(--terracota);
    max-width: 420px;
}

.header .hero .container .site-title {
    max-width: 420px;
    padding: 50px 0 30px;
}

.header .hero .container .subtitle {
    max-width: 320px;
    margin-bottom: 48px;
}

.header .hero .container a {
    padding-bottom: 215px;
}

.header .hero .container a i {
    font-size: 25px;
    padding: 5px;
    color: var(--terracota);
    border: 2px solid var(--terracota);
    border-radius: 50%;
}

/* find */
.find .container .start {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 48px 0 64px;
    max-width: 1140px;
}

.find .container .site-title {
    max-width: 420px;
}

.find .container .start .subtitle {
    max-width: 165px;
}

.find .container .start .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* gap: 32px; */
    max-width: 450px;
}

.find .container .start .card p {
    position: absolute;
    top: 35%;
    left: 15%;
    color: var(--terracota);
    font-size: 55px;
    font-family: 'merri-300', sans-serif;
    font-weight: 300;
}

.find .container .start .card:last-child p {
    left: 35%;
    top: 25%;
}

.find .container .start img {
    position: relative;
    max-width: 260px;
    height: 260px;
}

.find .container .slide {
    display: flex;
    gap: 200px;
    padding-bottom: 70px;
}

.find .container .slide p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'varta-400', sans-serif;
}

.find .container .slide h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'varta-700', sans-serif;
    color: var(--terracota);
}


/* Side */
.side .container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 48px;
    padding: 64px 15px 70px;
}

.side .container .start .site-title {
    max-width: 700px;
    padding-bottom: 30px;
}

.side .container .start a {
    font-size: 17px;
    font-weight: 700;
    font-family: 'varta-700', sans-serif;
    color: var(--terracota);
}

.side .container .list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.side .container .list .text {
    max-width: 258px;
}

.side .container .list .text h3 {
    font-size: 25px;
    font-family: 'varta-600', sans-serif;
    font-weight: 600;
    color: var(--terracota);
    padding-bottom: 12px;
}

.side .container .list .text p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'varta-400', sans-serif;
}