@font-face {
    src: url(fonts/Merriweather-Light.ttf);
    font-family: 'merri-300', sans-serif;
}

@font-face {
    src: url(fonts/Merriweather-Bold.ttf);
    font-family: 'merri-700', sans-serif;
}

@font-face {
    src: url(fonts/Varta-Light.ttf);
    font-family: 'varta-300', sans-serif;
}

@font-face {
    src: url(fonts/Varta-Regular.ttf);
    font-family: 'varta-400', sans-serif;
}

@font-face {
    src: url(fonts/Varta-Medium.ttf);
    font-family: 'varta-500', sans-serif;
}

@font-face {
    src: url(fonts/Varta-SemiBold.ttf);
    font-family: 'varta-600', sans-serif;
}

@font-face {
    src: url(fonts/Varta-Bold.ttf);
    font-family: 'varta-700', sans-serif;
}

:root {
    --terracota: #A06056;
    --brown-light: #706458;
    --white: #ffffff;
    --black: #121212;
    --background: #F3EEE8;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    border: 0;
    background: 0;
    outline: 0;
    cursor: pointer;
}

/* general */
body {
    font-weight: 400;
    font-family: 'varta-400', sans-serif;
    background: var(--background);
    color: var(--brown-light);
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.site-title {
    font-size: 55px;
    font-weight: 300;
    font-family: 'merri-300', sans-serif;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: 'varta-400', sans-serif;
}

/* header */
.header {
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background: url(img/hero-bg.jpg) no-repeat right / contain;
    width: 100%;
    height: 100vh;
}

.header .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 15px;
}

.header .navbar .container .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.header .navbar .container .left .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.header .navbar .container .left .menu .link {
    font-size: 18px;
    font-weight: 400;
    font-family: 'varta-400', sans-serif;
    color: var(--brown-light);
}

.header .navbar .container .left .menu .link:hover {
    text-decoration: underline;
}

.header .container .right a {
    width: 50px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container .right a i {
    font-size: 26px;
}

.header .container .burger {
    display: none;
}

.header .container .burger i {
    font-size: 25px;
    color: var(--white);
}


/* Side */
.side .container {
    display: flex;
    align-items: start;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 48px;
}

.side .container .start .site-title {
    width: 458px;
    padding-bottom: 30px;
}

.side .container .start a {
    font-size: 17px;
    font-weight: 700;
    font-family: 'varta-700', sans-serif;
    color: var(--terracota);
}

.side .container .list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.side .container .list .text {
    width: 258px;
    height: 167px;
}

.side .container .list .text h3 {
    font-size: 25px;
    font-family: 'varta-600', sans-serif;
    font-weight: 600;
    color: var(--terracota);
    padding-bottom: 12px;
}

.side .container .list .text p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'varta-400', sans-serif;
}